* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(166, 244, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  width: 30vw;
  height: 40vh;
  padding: 8px;
  gap: 8px;
}

.form-title {
  font-weight: bold;
}

.input-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.input {
  height: auto;
  width: 100%;
  padding: 8px;
  border-radius: 20px;
}

.button {
  width: 20%;
  height: auto;
  padding: 8px;
  border-radius: 20px;
  background-color: aquamarine;
}